requests==2.18.4
arrow==0.10.0
blinker==1.4
boto3==1.4.7
coverage==4.3.4
delorean==0.6.0
flake8==3.3.0
pendulum==1.2.0
pytest==3.0.7
pytest-catchlog==1.2.2
sphinx==1.5.5
sphinx-rtd-theme==0.2.4
tox==2.7.0
twine==1.8.1
wheel==0.29.0
