arrow~=0.10
blinker~=1.4
boto3~=1.9
coverage~=4.0
delorean~=0.6
flake8~=3.5
pendulum~=1.3
pytest~=3.5
pytz~=2017.0
readme_renderer[md]
requests~=2.18
sphinx==1.8.3
sphinx-rtd-theme==0.3.0
tox~=2.9
twine~=1.12
wheel~=0.30
