arrow~=0.14
blinker~=1.4
boto3~=1.9
coverage
delorean~=1.0
flake8
pendulum~=2.0
pydeps~=1.7
pytest
pytz~=2021.3
readme_renderer[md]
requests~=2.22
sphinx==4.3.0
sphinx-rtd-theme~=0.4
tox
twine~=1.13
wheel~=0.33
